// .guide-show-box {
//   border: 1px solid $brand-color;
//   border-radius: 20px;
//   padding: 25px;
//   position: relative;
// }

.guide-show-box {
  border-top: 1px solid #ddd;
}


.banner-guide{
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(2,2,2,0.28) 50%), url('@guide.photo');
  background-repeat:no-repeat;
  background-size: cover;
  height: 100px;
}
