<div class="wrapper">
  <div class="page-header">
    <h2>
      <%= "Welcome #{@user.first_name} #{@user.last_name}" %>
    </h2>
    <p>
      <%= "Are you ready to #{@profile.role}" %>
    </p>
</div>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', root_path %>
