<h1>New booking</h1>
<p>Find me in app/views/bookings/new.html.erb</p>
<div class="container">
    <div class="col-xs-12 col-sm-12">
      <%= render 'bookings/form' %>
  </div>
</div>

<% content_for (:js) do %>
  <script>
    $('#booking_start_date').datetimepicker({
      format: 'DD MMM YYYY'
    });
    $('#booking_meeting_time').datetimepicker({
      format: 'HH:mm'
    });
  </script>
<% end %>
