<h1>The Booking</h1>

<p>
  <%= "You have a booking with #{@booking.guide.title} on #{@booking.start_date}"%>
  <%= "Status: #{@status_flows.last.status.title}"%>
</p>

<%= link_to current_user.profile do %>
  <button type="button" class="btn btn-primary">See all my bookings</button>
<% end %>
