<div id="footer">
  <div class="row">
    <div class="col-md-6 col-sm-6 footer-navigation">
      <h3>Yalla</h3>
      <p class="links"><a href="#">Home</a><strong> · </strong><strong></strong><a href="#">About</a><strong> · </strong><a href="#">Contact</a></p>
      <p class="company-name">Yalla © 2016 </p>
    </div>

    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-6 footer-about text-right">
      <h4>About the company</h4>
      <div class="social-icons social-links">
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
  </div>
</div>



