<h1>Booking#guide_new_booking</h1>

<p>
  <%= @greeting %>, find me in app/views/booking_mailer/guide_new_booking.html.erb
</p>


<p>Confirm now in your dashboard: </p>
<%= link_to "Dashboard", guide_profile_url(@guide.profile.id) %>
