.navbar .btn {
  display:inline-block;
  margin-bottom:0;
  font-weight:400;
  text-align:center;
  white-space:nowrap;
  vertical-align:middle;
  user-select:none;
  border:1px solid transparent;
  color: white;
}

a.navbar-link{
  padding-right: 20px;
}

.navbar-brand{
  text-indent: -10000px;
  background: url("assets/noun.png") no-repeat center;
  width: 50px;
}

.navbar {
   background:rgba(0,0,0,0.3);
   border-bottom: 0px;
   height: 62px;
   margin: 0px;
}

.navbar-nav > li > a {
  padding-top: 6px;
  padding-bottom: 6px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  background-color: $rasberry;
  color: white;
  border: none;
}


.navbar ul{
  margin-top: 12px;
  background-color: $rasberry;
  border-color: none;
  border: none;
  border-radius: 3px;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.4;
    color: white;
    white-space: nowrap;
}



