.btn {
  display:inline-block;
  padding:6px 12px;
  margin-bottom:0;
  font-size:14px;
  font-weight:400;
  line-height:1.42857143;
  text-align:center;
  white-space:nowrap;
  vertical-align:middle;
  -ms-touch-action:manipulation;
  touch-action:manipulation;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-color: #8EDFFA;
  border:1px solid transparent;
  border-radius:4px;
}

a.navbar-link{
  padding-right: 20px;
}

.navbar-brand{
  text-indent: -10000px;
  background: url("noun.png") no-repeat center;
  width: 50px;
}

.navbar {
   background:rgba(0,0,0,0.3);
   border-bottom: 0px;
   height: 62px;
}
