.card-guide {
  border: 1px solid $rasberry;
  border-radius: 20px;
  padding: 25px;
  position: relative;
}

.booking-form {
  margin: 30px 0;
}

.price {
  position: absolute;
  top: 10px;
  right: 10px;
}

.quarter {
  padding: 20px;
}

.step-map {
  padding-right: 0px;
}


