.card-guide {
  border: $lightgrey;
  border-radius: 20px;
  padding: 5px;
  position: relative;
  height: 250px;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
}

.card-guide-link {
  position: absolute;
  top: 0;
  bottom: 0;
}

.card-guide-img {
  width: 100%;
  height: 170px;
  margin: auto;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.card-guide-price {
  position: absolute;
  right: 2px;
}

.card-guide-desc {
  position: absolute;
  left: 2px;
}

.card-guide-review {
  position: absolute;
  bottom: 2px;
  color: gold;
}

.card-guide-explore {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.booking-form {
  margin: 30px 0;
}

.price {
  position: absolute;
  top: 10px;
  right: 10px;
}

.quarter {
  padding: 20px;
}

.step-map {
  padding-right: 0px;
}

