<div class="wrapper">
  <div class="container text-center">
  <h2>Pick your guide</h2>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <%= render 'cards' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
      </div>
    </div>
  </div>
</div>
