<div class="wrapper">
  <div class="container text-center">
  <h2>Pick your guide</h2>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-7">
        <div class="row">
          <%= render 'cards' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div id="map" style="width: 100%; height: 600px;"></div>
        <% content_for(:js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
