<div class="guides-index-wrapper">
  <div class="container guides-index heigth100 width100">

    <div class="row text-center heigth100">
      <div class="col-xs-12 col-md-7 scroll heigth100">
        <h2>Browse and choose among dozens of local guides</h2>
        <div id="locationField" class="min-padded">
          <input id="guide_address" placeholder="Update search" type="text" />
          <button id="btn-index-search-update" type="button" class="btn btn-info btn-sm">Update location</button>
        </div>
        <div class="row">
          <%= render 'cards' %>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 heigth100">
        <div class="index-container-map">
          <div id="map-index"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="min-padded"></div>


<% content_for(:js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map-index' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
      // console.log(handler)
      // $('#map').change(function() {
      //   console.log('change');
      // });
      $('#btn-index-search-update').click(function(){
        var input = $('#guide_address').val()
        window.location.href = '/guides/search?guide%5Baddress%5D=' + input;
      });



    });
  </script>
<% end %>
